node_modules/
.next/
out/
build/
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
!.env.example
.vercel
*.tsbuildinfo
next-env.d.ts

# Headless Chrome profiles, written by local screenshot/crop scripts.
chrome-crop/
chrome-profile*/
